@charset "shift_jis";

/* -------------------------------------------------------------

[1] レイアウトに関する指定
[2] ヘッダーブロック内に関する指定
[3] コンテンツブロック内に関する指定
[4] サイドバーブロック内に関する指定
[5] フッターブロック内に関する指定
[6] CSSデザインサンプルリンク指定

----------------------------------------------------------------
CSSデザインサンプ [ URL ] http://www.css-designsample.com
------------------------------------------------------------- */


/* 一括で全ての要素の余白をゼロに指定 */
* {
  margin: 0;
  padding: 0;
}

/* 全体的なリンク */

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #00f; }
a:visited { color: #90f; }
a:hover { color: #f00; }
a:active { color: #f00; }

/* -------------------------------------------------------------
   [1] レイアウトに関する指定 */

body {
  font-size: 85%;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
}

#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 95%;
  background: url(img/bg-wrapper.jpg) repeat-y 0 0;
}

#header {
  height: 110px;
  padding-top: 10px;
  background: url(img/bg-header.jpg) no-repeat 100% 0;
}

#header-inner {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  float: left;
  margin-right: -160px;
}

#contents {
  width: 100%;
  float: right;
  margin-left: -220px;
}

#contents-inner { margin: 0 180px 0 240px; }

#left-sidebar {
  width: 200px;
  float: left;
  padding: 0 10px;
}

#right-sidebar {
  width: 160px;
  float: right;
}

#footer { }

/* -------------------------------------------------------------
   [2] ヘッダーブロック内に関する指定 */

/* キーワード */
h1 {
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding-left: 240px;
  color: #000;
}

/* 企業名｜ショップ名｜タイトル */
.logo {
  font-size: 160%;
  font-weight: bold;
  margin-bottom: 1em;
  padding-left: 240px;
}

.logo a {
  text-decoration: none;
  color: #000;
}

.logo a:hover {
  text-decoration: none;
  color: #f00;
}

/* ページの概要 */
.description {
  margin-bottom: 20px;
  padding-left: 240px;
  color: #000;
}

/* -------------------------------------------------------------
   [3] コンテンツブロック内に関する指定 */
/* -- 見出し -- */
h2,h3,h4,h5,h6 {
  font-size: 120%;
  margin-bottom: 0.5em;
  padding-left: 30px;
  border-left: 2px solid #000;
  border-bottom: 1px solid #000;
  background: url(img/bg-h.jpg) no-repeat 0 0;
}

h3,h4,h5,h6 { margin-top: 3em; }

/* -- 文字 -- */
#contents p {
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

/* -------------------------------------------------------------
   [4] サイドバーブロック内に関する指定 */

/* -- サイドバータイトル -- */
.side-title {
  font-weight: bold;
  padding-bottom: 2px;
  color: #fff;
}

/* -- リスト/サイドバーメニュー -- */
.localnavi {
  list-style-type: none;
  margin-bottom: 20px;
}

.localnavi li { display: inline; }

.localnavi a {
  font-size: 90%;
  text-decoration: none;
  width: 190px;
  padding: 4px 4px;
  display: block;
  border: 1px outset #000;
  background-color: #666;
  color: #fff;
}

.localnavi a:hover {
  text-decoration: none;
  border: 1px outset #000;
  background-color: #999;
  color: #f00;
}

#right-sidebar .localnavi li a {
  font-size: 90%;
  text-decoration: none;
  width: 150px;
  padding: 4px 4px;
  display: block;
  border: 1px outset #fff;
  background-color: #eee;
  color: #000;
  position: -webkit-sticky;
  position: sticky;
}

#right-sidebar .localnavi li a:hover {
  text-decoration: none;
  border: 1px outset #fff;
  background-color: #999;
  color: #f00;
}

.sidebar-dl {
  font-size: 90%;
  margin: 0 0 20px;
}

.sidebar-dl dt {
  text-align: center;
  padding: 4px 0;
  background-color: #666;
  color: #fff;
}

.sidebar-dl dd {
  line-height: 1.5em;
  margin-bottom: 10px;
  color: #eee;
}

/* -------------------------------------------------------------
   [5] フッターブロック内に関する指定 */

#footer p {
  text-align: center;
  padding-bottom: 20px;
}

/* -------------------------------------------------------------
   [6] CSSデザインサンプルリンク指定 */

#cds {
  font-size: 80%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  padding-left: 10px;
  clear: both;
  background: url(img/bg-cds.jpg) no-repeat 0 0;
}

#cds,
#cds a,
#cds a:hover {
  text-decoration: none;
  color: #000;
}
